alias l="ls -lp --color --group-directories-first --time-style long-iso"
alias df="df -h"
alias dotfiles='git --git-dir="$HOME/.dotfiles" --work-tree="$HOME"'
alias vim-config='git --git-dir="$HOME/.vim/.git" --work-tree="$HOME/.vim"'
alias grep="grep --color"
alias -- -="cd -"
alias ..="cd .."
alias e="$EDITOR"
alias yt-dl-meme='youtube-dl -o "%(uploader)s - %(title)s-%(id)s.%(ext)s" --add-metadata --write-description --write-info-json'
alias lynx="lynx -vikeys"

alias wget='wget --hsts-file="$XDG_CACHE_HOME/wget-hsts"'
alias tmux='tmux -f "$XDG_CONFIG_HOME/tmux/tmux.conf"'
alias xbindkeys="xbindkeys -f ~/.config/xbindkeysrc"
