# Single char commands
alias l="ls -lp --color --group-directories-first --time-style long-iso"
alias e="$EDITOR"
alias g=git

# Navigation
alias -- -="cd -"
alias ..="cd .."

# Custom
alias dotfiles='git --git-dir="$HOME/.dotfiles" --work-tree="$HOME"'
alias vim-config='git --git-dir="$HOME/.vim/.git" --work-tree="$HOME/.vim"'

# Add arguments
alias df="df -h"
alias grep="grep --color"
alias lynx="lynx -vikeys"
alias rsync="rsync --checksum"

# Add config file to command
alias wget='wget --hsts-file="$XDG_CACHE_HOME/wget-hsts"'
alias tmux='tmux -f "$XDG_CONFIG_HOME/tmux/tmux.conf"'
alias xbindkeys="xbindkeys -f ~/.config/xbindkeysrc"
