set editing-mode vi
set show-mode-in-prompt on
set completion-ignore-case on
set show-all-if-ambiguous on
set menu-complete-display-prefix on

#set vi-ins-mode-string [I]\033[0m
#set vi-cmd-mode-string [C]\033[0m

set vi-ins-mode-string \1\e[0 q\2[I]
set vi-cmd-mode-string \1\e[0 q\2[C]

# binds
C-L: clear-screen
