# Steam
# https://github.com/ValveSoftware/steam-for-linux/issues/1040
for_window [class="^Steam$" title="^Friends$"] floating enable
for_window [class="^Steam$" title="Steam - News"] floating enable
for_window [class="^Steam$" title=".* - Chat"] floating enable
for_window [class="^Steam$" title="^Settings$"] floating enable
for_window [class="^Steam$" title=".* - event started"] floating enable
for_window [class="^Steam$" title=".* CD key"] floating enable
for_window [class="^Steam$" title="^Steam - Self Updater$"] floating enable
for_window [class="^Steam$" title="^Screenshot Uploader$"] floating enable
for_window [class="^Steam$" title="^Steam Guard - Computer Authorization Required$"] floating enable
for_window [title="^Steam Keyboard$"] floating enable

assign [class="^Steam$"] $workspace_steam

# steam games using proton
assign [class="^steam_app_.*"] $workspace_game

# steam native games
set $steam_native "^FTL.amd64$|^hl2_linux$"
for_window [class=$steam_native] move container to workspace $workspace_game, fullscreen


# rpcs3
assign [class="^RPCS3$" title="^RPCS3 .*"] $workspace_rpcs3

assign [class="^RPCS3$" title="FPS"] $workspace_game
#assign [class="^rpcs$"] $workspace_game

