set $mod Mod4

set $left h
set $down j
set $up k
set $right l

set $monitor_primary "DisplayPort-0"
set $monitor_left "HDMI-A-0"
set $monitor_right "DisplayPort-1"

set $term alacritty
set $menu_run exec rofi -show run
set $menu_drun exec rofi -show drun
set $menu_window exec rofi -show window

set $refresh_status killall -SIGUSR1 i3status
set $exit i3-msg exit
